.form-container {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-container *{
    margin:.5rem;
}

.form-row {
    flex: 3fr 7fr;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.form-row-buttons {
    flex: 5fr 5fr;
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}


.form-row:last-child {
    margin-right: 0;
}

.form-input {
    border: none;
    padding: 5px;
    height: 1.75rem;
    width: 90%;
    background-color: white;
    color: dimgray;
    border-radius: 5px;
}
.form-input:focus, .form-input:hover {
    outline: none;
    box-shadow: none;
    background-color: lightblue;
    color: black;
}

.form-submit {
    border: none;
    outline: none;
    box-shadow: none;
}

.button-submit, .button-clear {
    border: none;
    padding: 1rem;
    font-size: 1.5rem;

}
.button-submit {
    background-color: green;
}
.button-submit:hover {
    background-color: darkgreen;
}
.button-clear {
    background-color: red;
}
.button-clear:hover {
    background-color: darkred;
}


label {
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-shadow: -3px 3px 3px lightblue;
    color: dimgray;
}
